
<article class="bb b--black-10">
	<time class="f6 dib tracked" {{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
      {{- .Date.Format (default "January 2, 2006" .Site.Params.date_format) -}}
    </time>
    
  <div class="db pv4 ph3 ph0-l no-underline dark-gray">
    <div class="flex flex-column flex-row-ns">

      <div class="blah w-100">
        <h1 class="f3 fw1 athelas mt0 lh-title">
        
		{{ partial "partials/post-title.html" . }}
        

        </h1>
        <div class="f6 f5-l lh-copy nested-copy-line-height nested-links">
          <!--{{ .Content }}-->
        </div>

      </div>
    </div>
  </div>
</article>
