
<!--<article class="bb b--black-10">-->
  <article class="">
  <div class="db pv0 ph3 ph0-l no-underline dark-gray">
    <div class="flex flex-column flex-row-ns">

      <div class="w-100">
      {{ partial "partials/post-date.html" . }}       
        <p class="f4 avenir near-black mt0">
        
		{{ partial "partials/post-title.html" . }}
        

        </p>
       
        
 <!--         
        <div class="f6 pv2 f5-l lh-copy nested-copy-line-height nested-links">
          {{ .Summary }}
        </div>
-->
      </div>
    </div>
  </div>
</article>
