{{ define "main" }}

  <article class="center cf ph3 ph4-ns mw7">
      <div class="{{ $.Param "post_content_classes"  | default "nested-copy-line-height lh-copy"}}">
        {{ .Content }}
      </div>

    </article>
  
  <div class="center cf pv0 ph3 ph4-ns mw7">
  
  {{ $posts := where (where $.Site.Pages "Section" "blog" ) ".Params.postType" "!=" "quote" }}
  {{ $n_posts := $.Param "recent_posts_number" | default 3 }}
  {{ range (first $n_posts $posts) }}
  	{{ partial "summary.html" . }}
  {{ end }}
  
  {{ with .Site.GetPage "section" "blog" }}
  <a href="{{ .RelPermalink }}" class="link db f6 pa2 br3 bg-mid-gray white dim w4 tc mt4">All posts</a>
  {{ end }}
  
  </div>
  
  
{{ end }}

