{{ define "main" }}
  <article class="mw7-5 center ph4">
    <div class="f4 lh-copy nested-copy-line-height nested-links nested-img mid-gray">
      {{ .Content }}
    </div>
  </article>
 
 <div class="mw7-5 center ph4">
    <section class="">
    
    {{ $tag := .Params.subtag}}
    {{ $taggedPages := (index .Site.Taxonomies.tags (lower $tag)).Pages }}
    
    
      
        </h2>
        {{ range $taggedPages }}
          {{ partial "summary.html" . }}
        {{ end }}
    </section>
  </div>
 
{{ end }}
