.paragraph_style {
    color: rgb(62, 62, 62);
    font-family: 'Futura-CondensedExtraBold', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-stretch: condensed;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: underline;
    text-indent: 0px;
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
    text-transform: none;
}
.paragraph_style_1 {
    color: rgb(62, 62, 62);
    font-family: 'Futura-CondensedExtraBold', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 9px;
    font-stretch: condensed;
    font-style: normal;
    font-variant: normal;
    font-weight: 800;
    letter-spacing: 0;
    line-height: 11px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
    text-transform: none;
}
.paragraph_style_2 {
    color: rgb(62, 62, 62);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
    text-transform: none;
}
.paragraph_style_3 {
    color: rgb(62, 62, 62);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 7px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 9px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
    text-transform: none;
}
.paragraph_style_4 {
    color: rgb(88, 77, 77);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
    text-transform: none;
}
.paragraph_style_5 {
    color: rgb(88, 77, 77);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
    text-transform: none;
}
.paragraph_style_6 {
    color: rgb(88, 77, 77);
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
    font-size: 11px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 17px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
    text-transform: none;
}
.style_SkipStroke_2 {
    background: rgb(225, 225, 225);
    opacity: 1.00;
}
.style_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent url(backgroundimage_1_1.png) no-repeat scroll center center;
    opacity: 1.00;
}
.style_SkipStroke_3 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_4 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_5 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStrokeSkipFillSkipOpacity {
}
.style_SkipStrokeSkipFillSkipOpacity_1 {
}
.Body {
    color: rgb(88, 77, 77);
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_generic_header_textbox_style_default_2_SkipStrokeSkipFillSkipOpacity {
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_shape_layout_style_default_External_768_263 {
    position: relative;
}
.graphic_shape_layout_style_default {
    padding: 4px;
}
.graphic_shape_layout_style_default_External_738_148 {
    position: relative;
}
.graphic_shape_layout_style_default_External_778_263 {
    position: relative;
}
.graphic_shape_style_default_SkipStroke {
    background: rgb(255, 255, 255);
    opacity: 1.00;
}
.graphic_shape_style_default_SkipStrokeSkipFillSkipOpacity {
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_737_34 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_598_36 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_208_33 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_703_36 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_584_35 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_541_36 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_732_132 {
    position: relative;
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: rgb(88, 77, 77);
    text-decoration: underline;
}
a:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class1 {
    color: rgb(53, 47, 194);
}
a.class1:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class1:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
a.class2 {
    color: rgb(2, 36, 196);
}
a.class2:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
a.class2:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
ol  { 
      padding:0;
      margin:0;
      text-indent:0;
      list-style-type:none ;
      list-style-image:none
    }
.Bullet { 
          text-decoration:none ;
          text-transform:none ;
          border: none;          
        }
#widget1 a {
    color: rgb(88, 77, 77);
    text-decoration: underline;
}
#widget0 a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
#widget1 a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
#widget0 a:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
#widget0 a {
    color: rgb(88, 77, 77);
    text-decoration: underline;
}
#widget1 a:visited {
    color: rgb(121, 121, 121);
    text-decoration: underline;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
