pre, .pre  {
  overflow-x: auto;
  overflow-y: hidden;
  overflow:   scroll;
}


pre  code {
  display: block;
  padding: 1.5em 1.5em;
  white-space: pre;
  font-size: .875rem;
  line-height: 2;

}

pre {
  background-color: #222;
  color: #ddd;
  white-space: pre;

  hyphens: none;
  position: relative;
}

img {
	max-height:800px;
	max-width:100%;
	display:block;
	text-align:center;
	/*border: 20px solid white;*/
}
/*
blockquote {
  font: 1em Times, serif;
  font-style: italic;
  margin-left: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-left: 8px solid #e7e7e7;
  background: #fafafa;
} 
*/
blockquote {
  font: 1em Times, serif;
  
  margin-left: 0px;
  padding-left: 15px;
  padding-right: 15px;

  border-left: 4px solid #7FBBDD;
  
} 
/*
a.footnote-ref::before {
    content: '[';
}

a.footnote-ref::after {
    content: ']';
}
*/
.footnotes p {
  font-style: italic;
  margin: 0;

}

.nested-links a {
	color: inherit;
	text-decoration-line: underline;
	text-underline-offset: 5px;
	text-decoration-style: solid;
	text-decoration-color: #7FBBDD;
}

.nested-links a:hover {
	color: #7FBBDD;
}

.prominent-links a {
	color: #bc0000;
	text-decoration-line: none;
}

.prominent-links a:hover {
	color: #ea9999;
	text-decoration-line: underline;
  	text-decoration-style: dashed;
  	text-decoration-color: #ea9999;
}

