{{ define "main" }}
  <article class="center cf pv5 ph3 ph4-ns mw7">
      <section class="nested-copy-line-height lh-copy f4 nested-links nested-img mid-gray">
        {{ .Content }}
      </section>
    
    {{ if not .Params.omit_recent_posts }}
    
        
	  <section>
      {{ range .Paginator.Pages }}
        <div class="relative w-100 w-100-l mb4 bg-white">
          {{- partial "summary.html" . -}}
        </div>
      {{ end }}
    </section>
    
    
    
        <div class="flex-l justify-between items-center center">
        
        {{- template "_internal/pagination.html" . -}}
        
        {{ if .Site.Params.allPostsURL }}
        
    <a href="{{ .Site.BaseURL }}{{ .Site.Params.allPostsURL}}" class="link db f6 pa2 br3 bg-mid-gray white dim w4 tc">{{ .Site.Params.allPostsText }}</a>

{{ end }}

</div>
    
    {{ end }}
    
    
    
  </article>
{{ end }}
